*,
*::before,
*::after {
  box-sizing: border-box;
}

* {
  margin: 0;
  padding: 0;
}

ul[class],
ol[class] {
  padding: 0;
}

body {
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
}

ul,
ol[class] {
  list-style: none;
}

a {
  text-decoration-skip-ink: auto;
  text-decoration: none;
  color: white;
}

img {
  max-width: 100%;
  display: block;
}

input,
button,
textarea,
select {
  font-style: inherit;
}

button {
  border: none;
  background: none;
}






* {
  font-family: 'JetBrains Mono', monospace;
}

button,
a,
li {
  cursor: pointer;
}

html, body {
  overflow-x: hidden;
  height: 100%;
  border: none;
  margin: 0;
  padding: 0;
}

#root {
  height: 100%;
}

.container {
  display: inherit;
  flex-direction: inherit;
  justify-content: inherit;
  align-items: inherit;
  overflow: inherit;
  width: 100%;
  height: 100%;
  padding: 0 12px;
  max-width: 1664px;
  margin: 0 auto;
}

@media (min-width: 767px) {
  .container {
    padding: 0 20px;
  }
}

@media (min-width: 1024px) {
  .container {
    padding: 0 40px;
  }
}

@media (min-width: 1280px) {
  .container {
    padding: 0 80px;
  }
}