.shop-page {
  height: 100%;
  display: flex;
  flex-direction: column;
  height: fit-content;
}

.hat {
  display: flex;
  flex-direction: column;
  position: relative;
  height: 305px;
  background: url(../assets/shop-background.jpeg) no-repeat center 60%;
  background-size: 140%;
  justify-content: center;
  align-items: center;
  color: white;

  h1, h3 {
    z-index: 5;
  }

  h1 {
    font-size: 25px;
  }

  h3 {
    font-size: 14px;
    font-weight: 300;
    margin-top: 20px;
  }
}

.hat__overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: #ff5c50;
  opacity: 0.4;
}

.products {
  display: flex;
  flex: 1 1 auto;
  position: relative;
}

.products__filters {
  color: white;
  background-color: #ff5c50;
  left: -100%;
  position: absolute;
  width: 100%;
  height: 1000px;

  h2 {
    font-size: 33px;
    font-weight: 600;
  }

  form {
    display: flex;
    flex-direction: column;
    margin-top: 40px;
  }

  .product__price-range > input {
    border: 1px solid white;
    background-color: transparent;
    color: white;
    border-radius: 6px;
    font-size: 16px;
    margin-top: 10px;
    padding: 7px 13px;

    &::placeholder {
      color: white;
    }
  }

  .product__types {
    label {
      margin-top: 15px;
      font-size: 16px;
      cursor: pointer;
    }

    input {
      margin-right: 10px;
    }
  }

  h3 {
    font-size: 25px;
    font-weight: 300;
  }
}

.products__filters_mobile {
  background-color: transparent;
  position: relative;
  left: 0;
  color: black;
  height: 700px;
}

.products__search {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 50px 0;
}

.products__parameters {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 40px;

  h2 {
    font-size: 22px;
  }

  input, select, button {
    width: 100%;
    margin-top: 15px;
  }

  input, select {
    padding: 5px 10px;
  }

  select {
    padding: 5px 8px;
  }

  button {
    padding: 5px 13px;
    border: 1px solid black;
    text-align: left;
  }
}

.products__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px 0;
  flex-grow: 1;
}

.product {
  border: 1px solid black;
  border-radius: 10px;
  height: 462px;
  width: 100%;
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.product__image {
  border: 1px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  height: 229px;
  cursor: pointer;

  img {
    width: 95%;
    object-fit: contain;
  }
}

.product__info {
  cursor: pointer;
  margin-top: 10px;
}

.product__rating {
  margin-top: 5px;
}

.product__purchase {
  display: flex;
  justify-content: space-between;
  margin: auto 0 0;

  img {
    cursor: pointer;
    width: 27px;
    height: 25px;
  }
}

.product__add:disabled {
  opacity: 0.5;
}

@media (min-width: 567px) {
  .hat {
    background-size: 110%;

    h1 {
      font-size: 39px;
    }
  
    h3 {
      font-size: 21px;
      font-weight: 300;
      margin-top: 20px;
    }
  }
}

@media (min-width: 768px) {
  .products__list {
    gap: 50px 6%;
  }

  .products__parameters > h2 {
    font-size: 30px;
  }

  .product {
    width: 47%;
  }
}

@media (min-width: 1024px) {
  .products__search > .container {
    padding: 0;
    max-width: unset;
  }

  .products__search {
    padding: 50px 40px 50px 20px;
  }

  .products__filters {
    left: 0%;
    position: static;
    width: 246px;
    min-width: 246px;
    min-height: 100%;
    height: unset;
    padding: 50px 20px 50px 40px;
  }

  .products__filters_mobile {
    display: none;
  }

  .products__parameters > button {
    display: none;
  }
}

@media (min-width: 1280px) {
  .products__search {
    padding: 50px 80px 50px 20px;
  }

  .products__list {
    gap: 50px 2%;
  }

  .product {
    width: 32%;
  }

  .products__filters {
    width: 300px;
    min-width: 300px;
    padding: 50px 20px 50px 80px;
  }
}

@media (min-width: 1400px) {
  .hat {
    background-size: 100%;
  }

  .products__search {
    padding: 50px 80px 50px 40px;
  }
  .products__parameters {
    flex-direction: row;
    
    h2 {
      font-size: 22px;
    }
    
    input, select {
      margin-top: 0;
      width: 300px;
    }
  }

  .products__list {
    gap: 50px 5%;
  }

  .product {
    width: 30%;
  }

  .products__filters {
    width: 340px;
    min-width: 340px;
    padding: 50px 40px 50px 80px;
  }
}


@media (min-width: 1600px) {
  .products__parameters > h2 {
    font-size: 30px;
  }
}
