.top {
  position: relative;
  overflow: hidden;
  padding-bottom: 60px;

  h2 {
    color: white;
    font-size: 30px;
    text-align: center;
    margin-top: calc(2vw + 20px);
  }
}

.top__products {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.img-form {
  position: absolute;
  width: 100%;
  height: 600px;
  z-index: -1;
  background: url("../assets/форм2.png") no-repeat;
  background-size: cover;
  background-position-x: center;

  &:last-child {
    bottom: 0;
    transform: rotate(180deg);
  }
}

.top__card {
  display: flex;
  flex-direction: column;
  border: 1px rgba(0, 0, 0, 0.39) solid;
  border-radius: 10px;
  padding: 11px;
  width: 100%;
  height: 400px;
  margin-top: 40px;
  z-index: 7;

  h4 {
    font-weight: 400;
    font-size: 20px;
  }

  p {
    font-weight: 300;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.541);
    margin-top: 10px;
  }

  h3 {
    margin: auto 0 0;
    font-size: 22px;
  }

  &:first-of-type {
    margin-top: calc(2vw + 30px);
  }
}

.top__image {
  border: 1px rgba(0, 0, 0, 0.39) solid;
  border-radius: 6px;
  height: calc(4vw + 150px);
  margin-bottom: 13px;
  display: flex;
  justify-content: center;

  img {
    height: 100%;
    object-fit: contain;
  }
}

.top__link {
  display: flex;
  justify-content: center;
  background-color: white;
  border: #ff5c50 1px solid;
  border-radius: 6px;
  margin: 40px auto 0;
  height: calc(6vw + 30px);
  max-height: 75px;
  width: 100%;
  max-width: 420px;
  -webkit-transition: all 300ms;
  -moz-transition: all 300ms;
  transition: all 300ms;
  
  &:hover {
    background-color: #ff5c50;
    color: white;
    //border: white 1px solid;

    button {
      color: white;
    }
  }

  button {
    font-size: calc(2vw + 10px);
    -webkit-transition: all 300ms;
    -moz-transition: all 300ms;
    transition: all 300ms;
  }
}

@media (min-width: 620px) {
  .top__card {
    width: 48%;

    &:first-of-type {
      margin-top: 40px;
    }
  }

  .top__link button {
    font-size: 20px;
  }
}

@media (min-width: 767px) {
  .top h2 {
    margin-top: calc(2vw + 10px);
  }
}

@media (min-width: 1024px) {
  .top__card {
    width: 31%;
  }

  .top__products { 
    margin: calc(4vw + 10px) 0;
  }
}

@media (min-width: 1280px) {
  .top {
    padding-bottom: calc(6vw);

    h2 {
      font-size: calc(2vw + 13px);
      margin-top: calc(4vw - 25px);
    }
  }
}